fastapi==0.115.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
sqlalchemy==2.0.32
jinja2==3.1.4
stripe==10.12.0
argon2-cffi==23.1.0
tzdata==2025.1
ccxt
itsdangerous==2.2.0
starlette==0.38.6
psycopg-binary==3.3.2
pandas==2.2.0